.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
log

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
*.ipr
*.iws
*.ini
.settings
*.project
*.classpath

# maven & gradle
.gradle
build
out
target

# java
*.class

# node
.nyc_output
coverage

# python
venv
